{% extends "layout.html" %}
{% block content %} 
    <div class='content-section'>
        <form method='POST' action=''>
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Login</legend>
                <div class='form-group'>
                    {{ form.bind.label(class='form-control-label') }}
                    {% if form.bind.errors %}
                        {{ form.bind(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in form.bind.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bind(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class='form-group'>
                        {{ form.submit(class='btn btn-outline-info')}}
                    </div>
            </fieldset>
        <div class="media-body">
            <p>placeholder</p>
        </div>
    </article>

    <!-- 
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
        {% endfor %}
    -->
{% endblock content %}